.texto{
    color: red;
    background: black;
}

.texto2{
    color: salmon;
    background: gold;
    border: 2px;
    border-color: silver;
}

h2 {
    color: blueviolet;
}

p {
    color: gold;
    border: 1px;
    border-color: black;
    border-style: solid;
    background: fixed;
    background-color: gray;
}

@media (min-width: 600px) {
    
    body {
        width: 98vw;
        background-image: url("../imagens/fundo.png");
    }

    table {
        border: 2px;
        border-color: silver;
        border-style: dotted;
        width: 80%;    
    }

}